@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "intrigora";
    src: url(../fontes/intrigora/Intrigora-Medium.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: "LTSip";
    src: url(../fontes/lt_sip/LTSip-Regular1.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Mayonice";
    src: url(../fontes/mayonice/Mayonice.ttf) format('truetype'), url(../fontes/mayonice/Mayonice.otf) format('opentype');
    font-weight: normal;
}

*{margin: 0px; 
padding: 0px}

:root{
    --cor0:#98CE00;
    --cor1:#5CFF61;
    --cor2:#B2F0BD;
    --cor3:#B2F0BD;
    --cor4:#FD96A9;
    --cor5:#FED5D1;

    --font0:'intrigora';
    --font1:'LTSip';
    --font2:'Mayonice';
    --font3: 'Be Vietnam Pro';  
}

header{
    background-color: var(--cor0);
    height: 200px;
    background-image: radial-gradient(circle, var(--cor1), var(--cor5));
}

header > h1{
    text-align: center;
    padding-top: 40px;
}
