@charset "UTF-8";

@font-face {
    font-family: "intrigora";
    src: url(../fontes/intrigora/Intrigora-Medium.otf) format('opentype'), url(../fontes/intrigora/Intrigora-MediumItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0px;
padding: 0px}

:root{
    --cor0:#98CE00;
    --cor1:#5CFF61;
    --cor2:#B2F0BD;
    --cor3:#FD96A9;
    --cor4:#B2F0BD;
    --cor5:#FED5D1;

    --font1:
}
